.header {
  height: 10rem;
  display: flex;
  background-color: #ceddff;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.title {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  font-size: 2rem;

  a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.subtitle {
  font-size: 1rem;
}

.nav {
  display: flex;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.499), transparent 20%, transparent 80%, rgba(255, 255, 255, 0.687));
  justify-content: flex-start;
  font-family: noto, sans-serif;
}

.navLink {
  display: block;
  margin: .5rem 1rem;
  border-bottom: solid .25rem transparent;
  padding: .5rem 1rem .25rem;
}

.active {
  border-bottom: solid .25rem #4579ee;
}

.navLink:link, .navLink:visited {
  color: inherit;
}

.navLink:hover {
  border-bottom: solid .25rem black;
}
