html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

.content {
  flex: 1 0 auto;
}

:global .sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
